<!DOCTYPE html>
<html>
<head>
	<title>about</title>
	<meta charset="UTF-8">
	<meta name="viewport" content=device-width, user-scalable=no, initial-scale=1,0, maximun-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	
	<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    RON VIEJO DE CALDAS
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">ESPECIAL</a>
    <a class="dropdown-item" href="#">CARTA DE ORO</a>
    <a class="dropdown-item" href="#">TRADICIONAL</a>
    </div>
    </div>

    


    
   
    <div class="dropdown">
	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    CONTENIDO
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">ACCION</a>
    <a class="dropdown-item" href="#">CLASES DE LICORES</a>
    <a class="dropdown-item" href="#">LA MEJOR CALIDAD</a>

    </div>
    </div>

	
	<a href="/lista_producto/">lista_productos</a>
	<a href="/agregar_producto">agregar_producto</a>
	<a href="/contacto/">contacto</a>
	<a href="/login/">login</a>
	
</head>
<body>


	<h1>HOLA</h1>
	
	<p>BIENVENIDOS</p><p>LOS MEJORES LICORES DE POPAYAN</p>

    <P>EN LAS IMAGENES PRESENTES ELIGE TU FABORITA</P>

   
	<div class="container">
    <div class="row">
    <div class="col"><img src="" alt=""></div>
    <div class="col"><img src="" alt=""></div>
    <div class="w-100"></div>
    <div class="col"><img src="" alt=""></div>
    <div class="col"><img src="" alt=""></div>
    <div class="col"><img src="" alt=""></div>
    <div class="col"><img src="" alt=""></div>
    
    </div>
    </div>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/static/imagenes/licor (1).jpg" alt="First slide">
    </div>

    <div class="carousel-item">
    <img class="d-block w-100" src="/static/imagenes/licor (2).jpg" alt="Second slide">
    </div>

    <div class="carousel-item">
    <img class="d-block w-100" src="/static/imagenes/licor (3).jpg" alt="Third slide">
    </div>
  
    <div class="carousel-item">
  	<img class="d-block w-100" src="/static/imagenes/licor (4).jpg" alt="Third slide">
    </div>
    
    <div class="carousel-item">
  	<img class="d-block w-1oo" src="/static/imagenes/licor (6).jpg" alt="Third slide">
  	</div>

  	<div class="carousel-item">
  	<img class="d-block w-100" src="/static/imagenes/licor (5).jpg" alt="Third slide">
    </div>
    
    </div>

    <html>
   <head>
       <link rel="stylesheet" href="layout.css" ... />
   </head>
   <body>
       <div class="wrapper">
            <p>EL CONTENIDO DE MI PROJECTO AQUI</p>
            <div class="push"></div>
       </div>
       <div class="footer">
            <p> POPAYAN 2018 </p>
       </div>
   </body>
</html>


    <dl class="tabla">
    <dt>Empresa</dt>
    <dd>LICORERA</dd>
    <dd>Contactar</dd>
    <dd>313-740-7436</dd>
    <dd>crr#2con-cll#17</dd>
    <dd>jgceron30@misena.edu.co</dd>
    <dt>Fabricante</dt>
    <dd>JOHN GEMAY CERON</dd>
    
 
</dl>



<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Test</title>
<style>
*{ margin: 0; padding: 0; }
 
ul{ list-style: none; }
 
#footer{ border-top: 1px solid #ff0000; }
#footer li{
    float: left;
    padding: 10px;
}
#footer li li{
    clear: both;
    padding: 0;
}
</style>
 
</head>
<body>
 
<div id="footer">
    <ul>
        <li>
            <h2>LISTA DE RON</h2>
            <ul>
            	<li>RON VIEJO DE CALDAS</li>
                <li>RON MEDELLIN</li>
                <li>CHIVAS REGAL</li>
                <li>JACK DANIELS</li>
                <li>TALISKER
                <li>BUCHANAN´S</li>
                <li>NECTAR</li>
                <li>OBAN</li>
            </ul>
        </li>
        <li>
            <h2>CERVEZAS</h2>
            <ul>
                <li>CORONA EXTRA</li>
                <li>AGUILA LIGHT</li>
                <li>CLUB COLOMBIA</li>
                <li>REDD´S</li>
                <li>POKER</li>
            </ul>
        </li>
        <li>
            <h2>VINOS</h2>
            <ul>
                <li>LANBRUSCO</li>
                <li>PREMIUM</li>
                <li>COGNAC</li>
                <li>MERLOT</li>
                <li>AMATUS</li>
                <li>BORSA</li>
            </ul>
        </li>
    </ul>
</div>
 
</body>
</html>














    


 
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>